.container {
    display: flex;
    background-color: lightblue;
    padding: 24px;
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;


    .card {
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    button {
        border: none;
        padding: 1rem 2rem;
    }

    .decrement {
        background-color: red;
    }

    .increment {
        background-color: green;
    }

    .reset {
        background-color: yellow;
    }
} 